body {
  background-color: #d6d4d4;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.face {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
